<html>
    <head>
    <title></title>
    </head>
    <body>
        <form action="/" method="post">
            $ <input type="text" name="text">
            <input type="submit" value="enter" style="position: absolute; height: 0px; width: 0px; border: none; padding: 0px;" hidefocus="true" tabindex="-1"/>
        </form>
    </body>
</html>
